<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <request></request>
  
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">All Books:</h1>
      <p>Click the <i class="fa fa-retweet"></i> to request a trade!</p>
      <div class="cover" ng-repeat="book in books">
        <a><img ng-src="{{book.cover}}" alt="{{book.title}}"/><button ng-hide="book.requested || book.owner == getCurrentUser()._id" type="button" class="close" ng-click="requestBook(book)"><i class="fa fa-retweet"></i></button></a>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p><a href="https://twitter.com/clnhll">@clnhll</a> |
         <a href="https://github.com/clnhll/bookjump">GitHub</a></p>
  </div>
</footer>
